[user]
	name = Roman Baev
	email = roman.baev@paradoxinteractive.com

[core]
  editor = nvim
  pager = delta --diff-so-fancy | less --tabs=4 -RF -+X

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	logsh = log --pretty=oneline -n
